body{
    background-color: white;
   }
.dropdown-menu{
    background-color: rgb(204, 171, 117);
}
.dropdown-item{
    color: #562B09;
}
.dropdown-item:hover{
    background-color: #562B09;
    color:rgb(204, 171, 117);
}
#navlink {
    color: #562B09; /* Set the color */
    text-decoration: none; /* Remove underline */
  }
  #contact_submit_button{
    background-color: #562B09;
    color:rgb(204, 171, 117) ;
    font-weight: bold;
  }
  .form{
    width: 35%;
    font-size: 20px;
  }