body{
    background-image: url(https://getwallpapers.com/wallpaper/full/4/6/d/818598-bakery-wallpapers-1920x1200-for-1080p.jpg);
}
.dropdown-menu{
    background-color: rgb(204, 171, 117);
}
.dropdown-item{
    color: #562B09;
}
.dropdown-item:hover{
    background-color: #562B09;
    color:rgb(204, 171, 117);
}